/* line 17, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../scss/sass/screen.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, center, dl, dt, dd, ul, li, fieldset, form, label, legend, table, caption, tfoot, thead {
  background: transparent;
  border: 0;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: baseline;
}

/* line 15, ../scss/sass/screen.scss */
tr, th, td {
  background: transparent;
  border: 1px solid #e1e1e1;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  padding-left: 7px;
  outline: 0;
  vertical-align: baseline;
}

/* line 26, ../scss/sass/screen.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #e1e1e1;
}

/* line 33, ../scss/sass/screen.scss */
html {
  overflow-y: scroll;
}

/* Main Layout */
/* line 38, ../scss/sass/screen.scss */
html {
  height: 100%;
}

/* line 42, ../scss/sass/screen.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.3;
  color: #555;
}

/* line 49, ../scss/sass/screen.scss */
body.contentpane {
  background: #fff;
  color: #555;
}

/* line 54, ../scss/sass/screen.scss */
.background {
  position: absolute;
  width: 100%;
  background: #eeeeee url(../images/bg.gif) repeat;
}

/* line 60, ../scss/sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 5px 0;
  font-weight: bold;
  color: #134E8B;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 68, ../scss/sass/screen.scss */
.componentheading {
  font-style: italic;
  font-size: 25px;
  margin: 0;
  padding: 0 0 10px 0;
  color: #1a528c;
}

/* line 76, ../scss/sass/screen.scss */
h1 {
  font-size: 20px;
}

/* line 80, ../scss/sass/screen.scss */
h2 {
  font-size: 18px;
}

/* line 84, ../scss/sass/screen.scss */
h3 {
  font-size: 16px;
}

/* line 88, ../scss/sass/screen.scss */
h4 {
  font-size: 14px;
}

/* line 92, ../scss/sass/screen.scss */
a:link, a:visited {
  color: #d93537;
}

/* line 96, ../scss/sass/screen.scss */
a:hover {
  color: #e16062;
  text-decoration: none;
}

/* line 101, ../scss/sass/screen.scss */
ul {
  margin: 0 0 0 15px;
}

/* line 105, ../scss/sass/screen.scss */
p {
  margin-top: 0;
  margin-bottom: 10px;
}

/* line 110, ../scss/sass/screen.scss */
p em {
  font-style: italic;
}

/* line 114, ../scss/sass/screen.scss */
blockquote {
  background: #eee;
  border: 3px solid #ccc;
  margin: 5px;
  padding: 5px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

/* line 124, ../scss/sass/screen.scss */
element.style {
  height: auto;
}

/* line 128, ../scss/sass/screen.scss */
hr {
  width: 100%;
  clear: both;
  border: none;
  height: 2px;
  background: #eee;
  margin: 0;
  padding: 0;
}

/* line 138, ../scss/sass/screen.scss */
.clr {
  clear: both;
}

/* Header */
/* line 143, ../scss/sass/screen.scss */
#header {
  position: relative;
  height: 105px;
  width: 980px;
  margin: 0px auto 0;
  background: url(../images/banner.png) repeat-x;
}

/* line 151, ../scss/sass/screen.scss */
#header-w {
  position: relative;
  background: #555;
}

/* line 156, ../scss/sass/screen.scss */
.top {
  color: #fff;
  float: right;
  margin-right: 64px;
  padding-top: 48px;
}
/* line 162, ../scss/sass/screen.scss */
.top .menu li {
  display: inline-block;
  margin-right: 24px;
}

/* line 169, ../scss/sass/screen.scss */
.logo {
  float: left;
  padding: .5em;
}

/* line 174, ../scss/sass/screen.scss */
.slogan {
  display: inline-block;
  float: left;
  height: 100px;
  line-height: 110px;
  font-size: 2em;
  font-weight: bold;
  text-indent: 0.5em;
  color: #d93537;
}

/* line 187, ../scss/sass/screen.scss */
.tguser {
  position: absolute;
  right: 10px;
  top: 0px;
  color: #fff;
  float: right;
}

/* line 195, ../scss/sass/screen.scss */
.topmenu {
  right: 130px;
  top: 10px;
  float: right;
  height: 22px;
  font-family: segoe ui, verdana, arial, sans-serif;
  -moz-border-radius-bottomright: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  webkit-bottom-right-radius: 7px;
  webkit-bottom-left-radius: 7px;
}

/* line 209, ../scss/sass/screen.scss */
.topmenu ul {
  margin: 0;
  padding: 0;
  float: left;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 217, ../scss/sass/screen.scss */
.topmenu ul li {
  list-style: none;
  float: left;
  height: 100%;
  position: relative;
}

/* line 224, ../scss/sass/screen.scss */
.topmenu ul li a {
  display: block;
  padding: 0 10px 0 10px;
  margin: 0;
  line-height: 22px;
  color: #0d829b;
  text-decoration: none;
  font-size: 12px;
  font-weight: normal;
  font-family: 'Terminal Dosis', sans-serif;
}

/* line 245, ../scss/sass/screen.scss */
.topmenu ul li a:hover {
  text-decoration: none;
  font-weight: normal;
  font-size: 12px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #ff0000;
  text-shadow: none;
}

/* line 255, ../scss/sass/screen.scss */
.topmenu ul li ul {
  position: absolute;
  width: 180px;
  left: -999em;
  border-top: 0;
  margin: 0;
  padding: 0;
}

/* line 264, ../scss/sass/screen.scss */
.topmenu ul li:hover ul, #menu ul li.sfHover ul {
  left: 0;
}

/* line 268, ../scss/sass/screen.scss */
.topmenu ul li ul li {
  padding: 0;
  height: auto;
  width: 180px;
  margin: 0;
  border: none;
}

/* line 276, ../scss/sass/screen.scss */
.topmenu ul li:hover ul li a {
  text-shadow: none;
}

/* line 280, ../scss/sass/screen.scss */
.topmenu ul li:hover ul li {
  background: none;
}

/* line 284, ../scss/sass/screen.scss */
.topmenu ul li:hover ul li a, .topmenu ul li ul li a, .topmenu ul li.active ul li a {
  margin: 0;
  padding: 0 0 0 10px;
  height: 24px;
  line-height: 24px;
  background: #555;
  border-bottom: 1px solid #3a3a3a;
  color: #d1d1d1;
  font-size: 11px;
  font-weight: normal;
  text-shadow: none;
}

/* line 297, ../scss/sass/screen.scss */
.topmenu ul li ul li a:hover, .topmenu ul li ul li.active a, .topmenu ul li.active ul li a:hover, .topmenu ul li.active ul li.active a {
  margin: 0;
  padding: 0 0 0 10px;
  height: 24px;
  line-height: 24px;
  background: #343434;
  color: #fff;
  font-size: 11px;
  text-shadow: none;
}

/* line 308, ../scss/sass/screen.scss */
.topmenu ul li ul ul, .topmenu ul li:hover ul ul, .topmenu ul li:hover ul ul ul, .topmenu ul li:hover ul ul ul ul, .topmenu ul li.sfHover ul ul, .topmenu ul li.sfHover ul ul ul, .topmenu ul li.sfHover ul ul ul ul {
  left: -999em;
}

/* line 312, ../scss/sass/screen.scss */
#slide-w {
  margin: 0;
  padding: 0;
  background: #eaeaea url(../images/bg.png) 0 0 repeat-x;
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #f5f5f5;
}

/* line 320, ../scss/sass/screen.scss */
#slide {
  width: 960px;
  margin: 0 auto;
}

/* Navigation */
/* line 332, ../scss/sass/screen.scss */
#navr {
  height: 1px;
  width: 980px;
  background-color: #8d1b1c;
  font-family: 'Terminal Dosis', sans-serif;
  border-left: 1px solid #BAB9B9;
  border-right: 1px solid #BAB9B9;
}

/* line 341, ../scss/sass/screen.scss */
#nav {
  z-index: 10;
  position: relative;
}

/* line 346, ../scss/sass/screen.scss */
#nav-left {
  float: left;
  width: 80%;
}

/* line 351, ../scss/sass/screen.scss */
#nav-right {
  float: right;
  width: 20%;
}

/* line 356, ../scss/sass/screen.scss */
#nav ul {
  margin-left: 3px;
  padding: 0;
  float: left;
}

/* line 362, ../scss/sass/screen.scss */
#nav ul li {
  list-style: none;
  float: left;
  height: 100%;
  position: relative;
  padding-right: 1px;
  margin: 0;
}

/* line 371, ../scss/sass/screen.scss */
#nav ul li a {
  display: block;
  padding: 0 15px 0 15px;
  margin: 0;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
}

/* line 385, ../scss/sass/screen.scss */
#nav ul li.active a {
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  background: #555;
  height: 30px;
  margin: 5px 0px 5px 0px;
  line-height: 30px;
}

/* line 398, ../scss/sass/screen.scss */
#nav ul li a:hover {
  background: #555;
  text-decoration: none;
  font-weight: normal;
  color: #fff;
  text-shadow: none;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 30px;
  margin: 5px 0px 5px 0px;
  line-height: 30px;
}

/* line 411, ../scss/sass/screen.scss */
#nav ul li ul {
  position: absolute;
  width: 180px;
  left: -999em;
  border-top: 0;
  margin: 0;
  padding: 0;
}

/* line 420, ../scss/sass/screen.scss */
#nav ul li:hover ul, #menu ul li.sfHover ul {
  left: 0;
}

/* line 424, ../scss/sass/screen.scss */
#nav ul li ul li {
  padding: 0;
  height: auto;
  width: 180px;
  margin: 0 auto;
  border: none;
  text-align: left;
}

/* line 433, ../scss/sass/screen.scss */
#nav ul li ul li:hover ul {
  left: 180px;
  top: 0;
}

/* line 438, ../scss/sass/screen.scss */
#nav ul li:hover ul li a {
  text-shadow: none;
}

/* line 442, ../scss/sass/screen.scss */
#nav ul li:hover ul li {
  background: none;
}

/* line 446, ../scss/sass/screen.scss */
#nav ul li:hover ul li a, #nav ul li ul li a, #nav ul li.active ul li a {
  margin: 0;
  padding: 0 0 0 10px;
  height: 24px;
  line-height: 24px;
  background: #555;
  border-bottom: 1px solid #3a3a3a;
  color: #d1d1d1;
  font-size: 12px;
  font-weight: normal;
  text-shadow: none;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

/* line 461, ../scss/sass/screen.scss */
#nav ul li ul li a:hover, #nav ul li ul li.active a, #nav ul li.active ul li a:hover, #nav ul li.active ul li.active a {
  text-align: left;
  padding: 0 0 0 10px;
  height: 24px;
  line-height: 24px;
  background: #343434;
  color: #fff;
  font-size: 12px;
  text-shadow: none;
}

/* line 472, ../scss/sass/screen.scss */
#nav ul li ul ul, #nav ul li:hover ul ul, #nav ul li:hover ul ul ul, #nav ul li:hover ul ul ul ul, #nav ul li.sfHover ul ul, #nav ul li.sfHover ul ul ul, #nav ul li.sfHover ul ul ul ul {
  left: -999em;
}

/* line 476, ../scss/sass/screen.scss */
#nav ul li ul li ul li {
  padding: 0;
  height: auto;
  width: 180px;
  margin: 0 auto;
  border: none;
  text-align: left;
}

/* Sidebar */
/* line 486, ../scss/sass/screen.scss */
#leftbar-w {
  padding: 5px;
  width: 200px;
  float: left;
}

/* line 492, ../scss/sass/screen.scss */
#addthis {
  float: center;
  padding-left: 12px;
  padding-top: 5px;
}

/* line 498, ../scss/sass/screen.scss */
#rightbar-w {
  padding: 5px;
  width: 200px;
  float: right;
}

/* line 504, ../scss/sass/screen.scss */
#sidebar {
  padding: 0;
}

/* line 508, ../scss/sass/screen.scss */
#sidebar .module {
  margin-bottom: 15px;
  -moz-border-radius-bottomright: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  webkit-bottom-right-radius: 7px;
  webkit-bottom-left-radius: 7px;
}

/* line 518, ../scss/sass/screen.scss */
#sidebar .module-title {
  font-size: 15px;
  font-weight: 100;
  margin: 0;
  color: #555555;
  font-family: 'Terminal Dosis', sans-serif;
  border-bottom: 3px solid #f1f1f1;
}

/* line 527, ../scss/sass/screen.scss */
#sidebar .module-title h3 {
  line-height: 11px;
}

/* line 531, ../scss/sass/screen.scss */
#sidebar .module-body {
  background: #fff;
}

/* line 535, ../scss/sass/screen.scss */
#sidebar .module-body p {
  padding: 0;
  margin: 0;
}

/* line 540, ../scss/sass/screen.scss */
#sidebar ul li {
  margin: 0 5px;
  padding: 0;
}

/* line 545, ../scss/sass/screen.scss */
#sidebar .module ul.menu {
  margin: 5px 0 0 0;
  padding: 0;
  list-style: none;
  padding: 0;
  list-style-type: none;
}

/* line 553, ../scss/sass/screen.scss */
#sidebar .module ul.menu li {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 560, ../scss/sass/screen.scss */
#sidebar .module ul.menu li a {
  height: 16px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #FFFFFF;
  color: #575757;
  display: block;
  padding: 3px 15px 3px 5px;
  text-decoration: none;
  text-align: left;
}

/* line 571, ../scss/sass/screen.scss */
#sidebar .module ul.menu li a:hover {
  height: 16px;
  color: #575757;
  background-color: #e1e1e1;
}

/* line 577, ../scss/sass/screen.scss */
#sidebar .module ul.menu li.active a {
  color: #058CA1;
}

/* line 581, ../scss/sass/screen.scss */
#sidebar .module ul.menu li ul {
  margin: 0;
}

/* line 585, ../scss/sass/screen.scss */
#sidebar .module ul.menu li ul li {
  background: none;
  border: none;
  margin: 0 0 0 15px;
}

/* line 591, ../scss/sass/screen.scss */
#sidebar .module ul.menu li ul li a {
  border: 0;
  color: #999;
  background: none;
  text-align: left;
  padding-left: 11px;
}

/* line 599, ../scss/sass/screen.scss */
#sidebar .module ul.menu li ul li a:hover {
  height: 16px;
  color: #575757;
  background: url(../images/sidehover.jpg) 100% -50px no-repeat white;
}

/* line 605, ../scss/sass/screen.scss */
#sidebar .module ul.menu li.active ul li a {
  color: #6e99c2;
}

/* line 609, ../scss/sass/screen.scss */
#sidebar .module ul.menu li ul li.active a, #sidebar .module ul.menu li.active ul li a:hover {
  color: #134E8B;
}

/* Content */
/* line 614, ../scss/sass/screen.scss */
#main {
  margin: 0px auto;
  position: relative;
}

/* line 619, ../scss/sass/screen.scss */
#main-content {
  clear: both;
  background: #fff;
  position: relative;
  padding: 9px;
  height: 100%;
  border-left: 1px solid #bab9b9;
  border-right: 1px solid #bab9b9;
  color: #555;
}

/* line 630, ../scss/sass/screen.scss */
.shadow {
  background: url(../images/shadow.png) repeat-y 50% transparent;
  margin: 0 auto;
  width: 995px;
}

/* line 636, ../scss/sass/screen.scss */
.shadowtop {
  background-image: url(../images/shadowtop.png);
  height: 7px;
  margin: 0 auto;
  width: 995px;
}

/* line 643, ../scss/sass/screen.scss */
#maincol {
  position: relative;
}

/* line 647, ../scss/sass/screen.scss */
#wrapper {
  margin: 0 auto;
  width: 982px;
  padding: 0;
  position: relative;
}

/* line 654, ../scss/sass/screen.scss */
#crdt {
  border: 0;
  float: right;
  color: #708090;
  width: 50%;
  line-height: 10px;
  font-size: 10px;
  margin: -220% 0 0 0;
  overflow: hidden;
  padding: 0;
}

/* line 666, ../scss/sass/screen.scss */
#crdt a {
  color: #708090;
}

/* line 670, ../scss/sass/screen.scss */
.top1 {
  background: url(../images/main-top.png) 0 0 no-repeat;
  clear: both;
}

/* line 675, ../scss/sass/screen.scss */
.top2 {
  background: url(../images/main-top.png) 100% 100% no-repeat;
}

/* line 679, ../scss/sass/screen.scss */
.top3 {
  background: #fff;
  height: 6px;
  margin: 0 6px;
}

/* line 685, ../scss/sass/screen.scss */
.bot1 {
  background: url(../images/main-bot.png) 0 0 no-repeat;
  clear: both;
}

/* line 690, ../scss/sass/screen.scss */
.bot2 {
  background: url(../images/main-bot.png) 100% 100% no-repeat;
}

/* line 694, ../scss/sass/screen.scss */
.bot3 {
  background: #fff;
  height: 6px;
  margin: 0 6px;
}

/* line 700, ../scss/sass/screen.scss */
#leftcolumn {
  margin-left: 9px;
  padding: 0px;
  width: 205px;
  float: left;
}

/* line 707, ../scss/sass/screen.scss */
#rightcolumn {
  margin-right: 9px;
  padding: 0px;
  width: 205px;
  float: right;
}

/* line 714, ../scss/sass/screen.scss */
#centercontent {
  width: 520px;
  float: left;
  margin: 5px 0 0 10px;
  padding: 0px;
  overflow: hidden;
}

/* line 722, ../scss/sass/screen.scss */
#centercontent ul {
  margin: 0 0 10px 15px;
}

/* line 726, ../scss/sass/screen.scss */
#centercontent td {
  border: 1px solid #e1e1e1;
  vertical-align: middle;
}

/* line 731, ../scss/sass/screen.scss */
#centercontent th {
  border: 1px solid #e1e1e1;
  vertical-align: middle;
}

/* line 736, ../scss/sass/screen.scss */
#centercontent_md {
  width: 725px;
  float: left;
  overflow: hidden;
  padding-left: 3px;
}

/* line 743, ../scss/sass/screen.scss */
#centercontent_bg {
  width: 930px;
  float: left;
  margin: 0px 5px 0px 5px;
  padding: 0px;
  overflow: hidden;
}

/* line 751, ../scss/sass/screen.scss */
div.clearpad {
  padding: 3px;
}

/* line 755, ../scss/sass/screen.scss */
div.clearpad ul {
  clear: both;
}

/* Content styles */
/* line 760, ../scss/sass/screen.scss */
#login-form label {
  float: left;
  width: 9em;
}

/* line 765, ../scss/sass/screen.scss */
ul.archive li {
  list-style: none;
  padding: 0 0 0 10px;
}

/* line 770, ../scss/sass/screen.scss */
.archive .article-count {
  color: #999;
}

/* line 774, ../scss/sass/screen.scss */
.blog-featured {
  background: #fff;
  color: #555;
}

/* line 779, ../scss/sass/screen.scss */
.items-leading {
  position: relative;
  clear: both;
  margin-top: 2px;
}

/* line 785, ../scss/sass/screen.scss */
.items-row {
  position: relative;
  clear: both;
}

/* line 790, ../scss/sass/screen.scss */
.item-page {
  position: relative;
  background: #fff;
  color: #555;
  padding: 7px;
}

/* line 797, ../scss/sass/screen.scss */
h2.item-page-title {
  padding: 3px 0 3px 0px;
  margin-bottom: 1px;
  font-family: 'Terminal Dosis', sans-serif;
}

/* line 803, ../scss/sass/screen.scss */
h2.item-page-title a, .leading-0 a {
  color: #545c6b;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Terminal Dosis', sans-serif;
}

/* line 810, ../scss/sass/screen.scss */
h2.item-page-title a:hover, .leading-0 a:hover {
  color: #c4c4c4;
  text-decoration: underline;
}

/* line 815, ../scss/sass/screen.scss */
.item-page-title, .item-page-title a {
  text-decoration: none;
  color: #01406a;
}

/* line 823, ../scss/sass/screen.scss */
.buttonheading {
  position: absolute;
  top: 15px;
  right: 0;
}

/* line 829, ../scss/sass/screen.scss */
.buttonheading .edit {
  float: right;
  margin: 0 5px;
}

/* line 834, ../scss/sass/screen.scss */
.buttonheading .print {
  float: right;
  margin: 0 5px;
}

/* line 839, ../scss/sass/screen.scss */
.buttonheading .email {
  float: right;
  margin: 0 5px;
}

/* line 844, ../scss/sass/screen.scss */
.iteminfo {
  font-size: 12px;
  overflow: hidden;
  margin-bottom: 5px;
  display: block;
  width: 100%;
  color: #999;
  line-height: 13px;
}

/* line 854, ../scss/sass/screen.scss */
.iteminfo a {
  color: #999;
}

/* line 858, ../scss/sass/screen.scss */
.iteminfo a:hover {
  color: #333;
}

/* line 865, ../scss/sass/screen.scss */
.iteminfo .sub-category {
  padding: 0 0 0 0px;
}

/* line 878, ../scss/sass/screen.scss */
.iteminfo .createdby {
  font-weight: bold;
  display: block;
}

/* line 883, ../scss/sass/screen.scss */
.items-more {
  clear: both;
  padding: 10px;
}

/* line 888, ../scss/sass/screen.scss */
h3.items-more {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

/* line 894, ../scss/sass/screen.scss */
.items-more ol {
  margin: 0 0 0 30px;
  padding: 0;
}

/* line 899, ../scss/sass/screen.scss */
th.list-title, th.list-author, th.list-hits, th.list-date {
  background: #3f332e url(../images/h3.png) 0 0 repeat-x;
  padding: 2px;
  border-right: 1px solid #fff;
  color: #fff;
}

/* line 906, ../scss/sass/screen.scss */
th.list-title a, th.list-author a, th.list-hits a, th.list-date a {
  color: #fff;
  font-weight: bold;
}

/* line 911, ../scss/sass/screen.scss */
td.list-title, td.list-author, td.list-hits, td.list-date {
  border-bottom: 1px dotted #ccc;
}

/* line 915, ../scss/sass/screen.scss */
td.list-title {
  width: 50%;
}

/* line 919, ../scss/sass/screen.scss */
td.list-author {
  width: 15%;
  text-align: center;
}

/* line 924, ../scss/sass/screen.scss */
td.list-hits {
  width: 5%;
  text-align: center;
}

/* line 929, ../scss/sass/screen.scss */
td.list-date {
  width: 15%;
  text-align: center;
}

/* line 934, ../scss/sass/screen.scss */
.cols-1 {
  width: 100%;
  clear: both;
}

/* line 939, ../scss/sass/screen.scss */
.cols-2 .column-1 {
  width: 45%;
  float: left;
  margin: 4px;
}

/* line 945, ../scss/sass/screen.scss */
.cols-2 .column-2 {
  width: 45%;
  float: right;
  margin: 4px;
}

/* line 951, ../scss/sass/screen.scss */
.cols-3 .column-1 {
  width: 32%;
  float: left;
}

/* line 956, ../scss/sass/screen.scss */
.cols-3 .column-2 {
  width: 32%;
  margin-left: 1%;
  float: left;
}

/* line 962, ../scss/sass/screen.scss */
.cols-3 .column-3 {
  width: 32%;
  float: right;
}

/* line 967, ../scss/sass/screen.scss */
.cols-4 .column-1 {
  width: 23%;
  float: left;
}

/* line 972, ../scss/sass/screen.scss */
.cols-4 .column-2 {
  width: 23%;
  margin-left: 1%;
  float: left;
}

/* line 978, ../scss/sass/screen.scss */
.cols-4 .column-3 {
  width: 23%;
  margin-left: 1%;
  float: left;
}

/* line 984, ../scss/sass/screen.scss */
.cols-4 .column-4 {
  width: 23%;
  margin-left: 0;
  float: right;
}

/* line 990, ../scss/sass/screen.scss */
.column-1, .column-2, .column-3, .column-4 {
  position: relative;
  margin: 0 0 20px 0;
}

/* Contact styles */
/* line 996, ../scss/sass/screen.scss */
th.item-num, th.item-title, th.item-position, th.item-phone, th.item-suburb, th.item-state {
  background: #3f332e url(../images/h3.png) 0 0 repeat-x;
  padding: 2px 2px 2px 7px;
  border-right: 1px solid #fff;
  color: #fff;
  text-align: left;
}

/* line 1004, ../scss/sass/screen.scss */
th.item-num a, th.item-title a, th.item-position a, th.item-phone a, th.item-suburb a, th.item-state a {
  color: white;
}

/* line 1008, ../scss/sass/screen.scss */
td.item-num {
  width: 5%;
  text-align: left;
}

/* line 1013, ../scss/sass/screen.scss */
td.item-title {
  width: 25%;
  text-align: left;
}

/* line 1018, ../scss/sass/screen.scss */
td.item-position {
  width: 15%;
  text-align: left;
}

/* line 1023, ../scss/sass/screen.scss */
td.item-phone {
  width: 15%;
  text-align: left;
}

/* line 1028, ../scss/sass/screen.scss */
td.item-suburb {
  width: 15%;
  text-align: left;
}

/* line 1033, ../scss/sass/screen.scss */
td.item-state {
  width: 15%;
  text-align: left;
}

/* line 1038, ../scss/sass/screen.scss */
.contact label {
  width: 100%;
  font-weight: bold;
  float: left;
}

/* line 1044, ../scss/sass/screen.scss */
.contact input {
  float: left;
}

/* line 1048, ../scss/sass/screen.scss */
.contact .jicons-icons {
  float: left;
  padding: 5px 10px 10px 0;
}

/* line 1053, ../scss/sass/screen.scss */
.contact h3 {
  font-size: 14px;
}

/* line 1057, ../scss/sass/screen.scss */
.spacer .module {
  float: left;
}

/* line 1061, ../scss/sass/screen.scss */
.spacer.w99 .module {
  width: 100%;
}

/* line 1065, ../scss/sass/screen.scss */
.spacer.w49 .module {
  width: 50%;
}

/* line 1069, ../scss/sass/screen.scss */
.spacer.w33 .module {
  width: 33.3%;
}

/* line 1073, ../scss/sass/screen.scss */
.spacer.w24 .module {
  width: 24.5%;
}

/* line 1077, ../scss/sass/screen.scss */
.readmore a {
  float: right;
  line-height: 14px;
  background: #545c6b;
  color: #fff;
  overflow: visible;
  font-size: 11px;
  padding: 3px;
  border-radius: 3px;
}

/* line 1088, ../scss/sass/screen.scss */
.readmore a:hover {
  background: #555;
  color: #fff;
  text-decoration: none;
}

/* line 1094, ../scss/sass/screen.scss */
ul.pagenav {
  display: block;
}

/* line 1098, ../scss/sass/screen.scss */
ul.pagenav li {
  list-style: none;
}

/* line 1102, ../scss/sass/screen.scss */
.pagenav-prev {
  float: left;
  padding-top: 10px;
}

/* line 1107, ../scss/sass/screen.scss */
.pagenav-next {
  float: right;
  padding-top: 10px;
}

/* line 1112, ../scss/sass/screen.scss */
.pagination {
  clear: both;
}

/* line 1116, ../scss/sass/screen.scss */
span.pagination {
  background: none;
}

/* line 1120, ../scss/sass/screen.scss */
.pagination span, .pagination a, ul.pagenav li a {
  padding: 1px 8px;
  background: #fff;
  color: #555;
  font-weight: bold;
  font-size: 90%;
}

/* line 1128, ../scss/sass/screen.scss */
.pagination a, ul.pagenav li a {
  font-weight: bold;
  text-decoration: underline;
}

/* line 1133, ../scss/sass/screen.scss */
.button, .validate {
  background: none repeat scroll 0 0 #757474;
  border: 1px solid #555555;
  color: #FFFFFF;
  font-weight: normal;
  margin: 4px;
  padding: 1px 12px;
}

/* line 1142, ../scss/sass/screen.scss */
.button:hover, .validate:hover, .pagination a:hover, ul.pagenav li a:hover {
  background: #3A759E;
  color: #fff;
}

/* line 1147, ../scss/sass/screen.scss */
.inputbox, input, textarea, select {
  background: none repeat scroll 0 0 transparent;
  border: 1px solid #c0c0c0;
  color: #13618d;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-right: 4px;
}

/* line 1156, ../scss/sass/screen.scss */
.breadcrumbs {
  padding: 0 0 0 10px;
  color: #555;
}

/* line 1161, ../scss/sass/screen.scss */
.searchbox {
  background: url(../images/search.png) no-repeat;
  width: 165px;
  height: 18px;
  color: #fff;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 9px;
}

/* Modules 1 */
/* line 1172, ../scss/sass/screen.scss */
#mods1 {
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
  clear: both;
}

/* line 1179, ../scss/sass/screen.scss */
#mods1 .module {
  padding: 0;
  margin: 0;
}

/* line 1184, ../scss/sass/screen.scss */
#mods1 .inner {
  padding: 10px;
}

/* line 1188, ../scss/sass/screen.scss */
#mods1 .module-title {
  margin: 0;
  padding: 0 0 10px 0;
}

/* line 1193, ../scss/sass/screen.scss */
#mods1 h3 {
  display: block;
  padding-left: 10px;
  padding-top: 3px;
  height: 20px;
  font-size: 18px;
}

/* line 1201, ../scss/sass/screen.scss */
#mods1 .module-body {
  padding: 0;
  margin: 0;
}

/* line 1206, ../scss/sass/screen.scss */
#mods1 ul {
  margin: 0 10px;
  padding: 0;
}

/* line 1211, ../scss/sass/screen.scss */
#mods1 ul li {
  list-style: inside;
}

/* line 1215, ../scss/sass/screen.scss */
#mods1-i {
  clear: both;
}

/* Modules 2 */
/* line 1220, ../scss/sass/screen.scss */
#mods2 {
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
  clear: both;
  width: 960px;
}

/* line 1228, ../scss/sass/screen.scss */
#mods2 .module {
  margin: 0;
  padding: 0;
}

/* line 1233, ../scss/sass/screen.scss */
#mods2 .inner {
  padding: 10px;
}

/* line 1237, ../scss/sass/screen.scss */
#mods2 .module-title {
  margin: 5px 0;
  padding: 0;
  display: block;
  height: 22px;
  font-size: 20px;
  font-weight: 100;
  color: #333;
  text-shadow: 1px 1px #fff;
}

/* line 1248, ../scss/sass/screen.scss */
#mods2 .module-body {
  padding: 0;
  margin: 0;
}

/* line 1253, ../scss/sass/screen.scss */
#mods2 a {
  color: #419af8;
}

/* line 1260, ../scss/sass/screen.scss */
#mods2 ul {
  margin: 0;
  padding: 0;
}

/* line 1265, ../scss/sass/screen.scss */
#mods2 ul li {
  list-style: inside;
  margin: 0;
  padding: 0;
}

/* Modules 3 */
/* line 1272, ../scss/sass/screen.scss */
#mods3 {
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
  clear: both;
  width: 960px;
  color: #dfdfdf;
  background: #1a528c url(../images/mods3.png) 0 0 repeat-x;
}

/* line 1282, ../scss/sass/screen.scss */
#mods3 .module {
  margin: 0;
  padding: 0;
}

/* line 1287, ../scss/sass/screen.scss */
#mods3 .inner {
  padding: 5px 10px 0 10px;
}

/* line 1291, ../scss/sass/screen.scss */
#mods3 .module-title {
  margin: 0 0 5px 0;
  padding: 0;
  display: block;
  height: 22px;
  font-size: 20px;
  font-weight: normal;
  color: #fff;
  text-shadow: 1px 1px #000;
}

/* line 1302, ../scss/sass/screen.scss */
#mods3 .module-body {
  padding: 0;
  margin: 0;
}

/* line 1307, ../scss/sass/screen.scss */
#mods3 a {
  color: #419af8;
}

/* line 1311, ../scss/sass/screen.scss */
#mods3 a:hover {
  color: #fff;
}

/* line 1315, ../scss/sass/screen.scss */
#mods3 ul {
  margin: 0;
  padding: 0;
}

/* line 1320, ../scss/sass/screen.scss */
#mods3 ul li {
  list-style: inside;
  border-bottom: 1px dotted #043466;
  list-style: none;
}

/* line 1329, ../scss/sass/screen.scss */
#mods3 ul li a {
  font-weight: 100;
  display: block;
  padding: 0 0 0 15px;
  background: url(../images/arrow.png) 0 50% no-repeat;
}

/* Footer */
/* line 1337, ../scss/sass/screen.scss */
#footer .top1 {
  background: url(../images/mods3-top.png) 0 0 no-repeat;
  clear: both;
}

/* line 1342, ../scss/sass/screen.scss */
#footer .top2 {
  background: url(../images/mods3-top.png) 100% 100% no-repeat;
}

/* line 1346, ../scss/sass/screen.scss */
#footer .top3 {
  background: #0b58a9;
  height: 6px;
  margin: 0 6px;
}

/* line 1352, ../scss/sass/screen.scss */
#footer .bot1 {
  background: url(../images/mods3-bot.png) 0 0 no-repeat;
  clear: both;
}

/* line 1357, ../scss/sass/screen.scss */
#footer .bot2 {
  background: url(../images/mods3-bot.png) 100% 100% no-repeat;
}

/* line 1361, ../scss/sass/screen.scss */
#footer .bot3 {
  background: #1a528c;
  height: 6px;
  margin: 0 6px;
}

/* line 1367, ../scss/sass/screen.scss */
#footer {
  clear: both;
  margin: 10px 0 0 0;
  padding: 0;
}

/* line 1373, ../scss/sass/screen.scss */
.footer-pad {
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

/* line 1379, ../scss/sass/screen.scss */
.copy {
  margin: 0;
  padding: 0 0 0 10px;
  font-size: 12px;
  float: left;
  color: #cccccc;
}

/* line 1387, ../scss/sass/screen.scss */
.copy a {
  font-size: 12px;
  color: #cccccc;
}

/* line 1392, ../scss/sass/screen.scss */
.cms {
  margin: 0;
  text-align: center;
  float: center;
  color: #555555;
  font-size: 9px;
  padding: 0;
  width: 290px;
  margin: 0 auto;
}

/* line 1403, ../scss/sass/screen.scss */
.cms a {
  text-decoration: none;
  font-size: 9px;
  color: #555555;
  font-weight: bold;
  padding: 0;
}

/* System Messages */
/* line 1412, ../scss/sass/screen.scss */
#system-message {
  margin: 0;
  padding: 0;
}

/* line 1417, ../scss/sass/screen.scss */
#system-message dt {
  font-weight: bold;
}

/* line 1421, ../scss/sass/screen.scss */
#system-message dd {
  margin: 0;
  font-weight: bold;
  text-indent: 30px;
}

/* line 1427, ../scss/sass/screen.scss */
#system-message dd ul {
  color: #0055BB;
  margin: 0;
  list-style: none;
  padding: 10px;
  border-top: 3px solid #84A7DB;
  border-bottom: 3px solid #84A7DB;
}

/* System Standard Messages */
/* line 1437, ../scss/sass/screen.scss */
#system-message dt.message {
  display: none;
}

/* System Error Messages */
/* line 1445, ../scss/sass/screen.scss */
#system-message dt.error {
  display: none;
}

/* line 1449, ../scss/sass/screen.scss */
#system-message dd.error ul {
  color: #c00;
  background-color: #E6C0C0;
  border-top: 3px solid #DE7A7B;
  border-bottom: 3px solid #DE7A7B;
}

/* System Notice Messages */
/* line 1457, ../scss/sass/screen.scss */
#system-message dt.notice {
  display: none;
}

/* line 1461, ../scss/sass/screen.scss */
#system-message dd.notice ul {
  color: #c00;
  background: #EFE7B8;
  border-top: 3px solid #F0DC7E;
  border-bottom: 3px solid #F0DC7E;
}

/* Debug */
/* line 1469, ../scss/sass/screen.scss */
#system-debug {
  color: #ccc;
  background-color: #fff;
  padding: 10px;
  margin: 10px;
}

/* line 1476, ../scss/sass/screen.scss */
#system-debug div {
  font-size: 11px;
}

/* line 1480, ../scss/sass/screen.scss */
#error .error {
  color: red;
}

/* line 1484, ../scss/sass/screen.scss */
#error {
  width: 600px;
  margin: 100px auto 0 auto;
  padding: 20px;
  background: #fff;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* line 1493, ../scss/sass/screen.scss */
.tg a {
  color: #c0c0c0;
}

/* line 1497, ../scss/sass/screen.scss */
.tg {
  border-radius: 0 0 5px 5px;
  clear: both;
  color: #c0c0c0;
  font-size: 11px;
  width: 940px;
  margin: 0 auto;
}

/* line 1506, ../scss/sass/screen.scss */
#slide {
  height: 152px;
  color: #c6c6c6;
  float: left;
  width: 958px;
  margin-top: 5px;
  margin-bottom: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 5px #b9b9b9;
  -webkit-box-shadow: 0 0 5px #b9b9b9;
  box-shadow: 0 0 5px #b9b9b9;
}

/* line 1520, ../scss/sass/screen.scss */
#bookmark {
  margin-bottom: 3px;
}

/* line 1524, ../scss/sass/screen.scss */
.back-bottom {
  background: url(../images/back-bottom.png) 50% 50% no-repeat;
  margin: auto 0;
  height: 20px;
}

/* line 1530, ../scss/sass/screen.scss */
#bottom {
  width: 980px;
  padding: 5px 0 0 0;
  background: #fafafa;
  margin: auto;
}

/* line 1537, ../scss/sass/screen.scss */
#user-bottom {
  background: #555;
  width: 980px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  height: 100%;
  border-top: 4px solid #f1f1f1;
}

/* line 1547, ../scss/sass/screen.scss */
.user1 h3, .user2 h3, .user3 h3 {
  color: #555;
}

/* line 1551, ../scss/sass/screen.scss */
.user1, .user2, .user3 {
  text-shadow: #fff 0 1px;
  color: #555;
  padding: 0px 10px 6px 30px;
  float: left;
  width: 250px;
  margin: 10px;
}

/* line 1560, ../scss/sass/screen.scss */
.print-icon, .email-icon {
  float: right;
  list-style: none;
  padding-left: 5px;
}

/* line 1566, ../scss/sass/screen.scss */
.top .menu li.item-101 {
  display: none;
}
