$themeColor1: #D93537;
$themeColor2: #FFFDD1;
$themeColor3: #00585F;
$themeColor4: #6A6A61;
$themeColor5: #272928;

$titleColor: #aa2bac;
$tooobarColor: darken($themeColor1,20%);
$linkColor: $themeColor1;